Beaker==1.11.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
FormEncode==2.0.0
idna==2.10
Mako==1.1.3
MarkupSafe==1.1.1
nose==1.3.7
oauthlib==3.1.0
Paste==3.4.6
PasteDeploy==2.1.0
PasteScript==3.2.0
Pygments==2.7.1
Pylons==1.0.3
PySocks==1.7.1
repoze.lru==0.7
requests==2.24.0
requests-oauthlib==1.3.0
Routes==2.4.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
Sweepy==0.1.0
Tempita==0.5.2
tweepy==3.9.0
urllib3==1.25.10
waitress==1.4.4
WebError==0.13.1
WebHelpers==1.3
WebOb==1.8.6
WebTest==2.0.35
